.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.profile-wrapper .profile {
    display: flex;
    flex-direction: column;
    width: 100vh;
    min-height: 50vh;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
}

.profile-wrapper .profile .buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 4vh;
    margin-bottom: 2vh;
}

.profile-wrapper .profile .buttons-wrapper .button {
    background-color: orange;
    margin-left: 2vh;
    border-radius: 39px;
    border: none;
    padding: 2vh;
}

.profile-wrapper .profile .buttons-wrapper .button:hover {
    border: 1px solid;
}

.profile-wrapper .profile .user-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-left: 31%;
}

.profile-wrapper .profile .user-info {
    color: #FFF;
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-wrapper .profile .donate-button {
    color: #FFF;
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-wrapper .profile .donate-button:hover {
    color: black;
}

.profile-wrapper .profile .avatar {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 350px;
    background: #D9D9D9;
    margin-top: 44px;
    margin-left: 52px;
}