
.feedbacks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.feedbacks-wrapper .feedbacks {
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    width: 80%;
    min-height: 50vh;
}

.feedbacks-wrapper .feedbacks .title {
    color: #FFF;
    font-size: 25px;
    padding: 2vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feedbacks-wrapper .feedbacks .product-about {
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
}