.seller-product-card-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 40vh;
}

.seller-product-card-wrapper::-webkit-scrollbar { width: 0 !important } 

.add-product-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 5vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.add-product-button-wrapper .add-product-button {
    border-radius: 31px;
    border: 1px solid #FFF;
    background: #FA7B4A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vh;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.add-product-button-wrapper .add-product-button:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    border: 5px solid #FFF;
}