.buy-product-about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy-product-about-wrapper .buy-product-about {
    width: 90%;
    min-height: 50vh;
    margin-top: 3vh;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    padding: 3vh;
}

.buy-product-about-wrapper .buy-product-about .image-wrapper {
    display: flex;
    width: 100%;
    height: 40vh;
}

.buy-product-about-wrapper .buy-product-about .image-wrapper .image {
    width: 100%;
    height: 100%;
}

.buy-product-about-wrapper .buy-product-about .product-name {
    margin-top: 1vh;
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buy-product-about-wrapper .buy-product-about .product {
    background: white;
    border-radius: 27px;
    margin-top: 3vh;
    padding: 2vh;
    color: black;
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buy-product-about-wrapper .buy-product-about .product .description {
    background: gray;
    border-radius: 27px;
    padding: 2vh;
}

.buy-product-about-wrapper .buy-product-about .product .product-text {
    color: black;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: gray;
    border-radius: 27px;
    padding: 2vh;
}

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper {
    margin-top: 2vh;
}

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper .messanger {
    background: gray;
    border-radius: 22px;
    padding: 2vh;
    height: 60vh;
    
}

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper .messanger .chat {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper .messanger .chat::-webkit-scrollbar { width: 0 !important } 

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper .messanger .send-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 1vh;
}

.buy-product-about-wrapper .buy-product-about .product .messanger-wrapper .messanger .send-message-wrapper .send-message-input {
    padding: 2vh;
    width: 90%;
    border-radius: 27px;
}