.paynaments-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

.paynaments-wrapper .paynaments {
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 27px;
    padding: 3vh;
    color: white;
    width: 60%;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}
.paynaments-wrapper .paynaments::-webkit-scrollbar { width: 0 !important } 