.about-product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.about-product-wrapper .about-product {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    width: 150vh;
    min-height: 50vh;
    margin-top: 3vh;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94
}

.about-product-wrapper .about-product .title {
    padding: 1vh;
    color: #FFF;
    font-size: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 130vh;

}

.about-product-wrapper .about-product .header-product-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
}

.about-product-wrapper .about-product .header-product-wrapper .image {
    border-radius: 46px;
    width: 73vh;
    height: 40vh;
    padding: 3vh;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 23vh;
    margin-top: 3vh;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper .cost {
    color: #FFF;
    font-size: 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper .buy-button {
    border-radius: 62px;
    text-align: center;
    width: 390px;
    padding: 1vh;
    margin-top: 1vh;
    background: green;
    color: #FFF;
    font-size: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper .report-button {
    border-radius: 62px;
    text-align: center;
    width: 390px;
    padding: 1vh;
    margin-top: 1vh;
    background: red;
    color: #FFF;
    font-size: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-product-wrapper .about-product .info-buttons-wrapper {
    display: flex;
    flex-direction: row;
    border-color: rgba(255, 255, 255, 0.45);
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
    padding-bottom: 5vh;
}

.about-product-wrapper .about-product .info-buttons-wrapper .info-button {
    margin-left: 3vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border-radius: 50px;
    background: #FA7B4A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.about-product-wrapper .about-product .info-buttons-wrapper .shop-button {
    margin-left: 35vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border-radius: 50px;
    background: #FA7B4A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 30vh;
    height: 5vh;
}

.about-product-wrapper .about-product .info-buttons-wrapper .shop-button:hover {
    color: black;
}


.about-product-wrapper .about-product .info-buttons-wrapper .info-button:hover {
    color: black;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper .buy-button:hover {
    color: black;
}

.about-product-wrapper .about-product .header-product-wrapper .buy-wrapper .report-button:hover {
    color: black;
}

.about-product-wrapper .about-product .description-wrapper {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    
}

.about-product-wrapper .about-product .description-wrapper .description {
    color: #FFF;
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-product-wrapper .about-product .description-wrapper .title {
    color: #FFF;
    font-size: 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}