.seller-product-card-wrapper .seller-product-card {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    border-radius: 22px;
    background: #D9D9D9;    
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.seller-product-card-wrapper .seller-product-card:hover {
    border: 2px solid;
    box-shadow: #000;
}

.seller-product-card-wrapper .seller-product-card .table-row {
    display: flex;
    flex-direction: row;
}

.seller-product-card-wrapper .seller-product-card .table-row .image-wrapper {
    width: 198px;
    height: 120px;
    padding: 1vh;
}

.seller-product-card-wrapper .seller-product-card .table-row .image-wrapper .image {
    border-radius: 27px;
}


.seller-product-card-wrapper .seller-product-card .table-row .name {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 2vh;
    width: 50vh;
    border-right: solid 1px;
}

.seller-product-card-wrapper .seller-product-card .table-row .feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vh;
    border-right: solid 1px;
}

.seller-product-card-wrapper .seller-product-card .table-row .status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    border-right: solid 1px;
}

.seller-product-card-wrapper .seller-product-card .table-row .products-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
}

