.shop-about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.shop-about-wrapper .shop-about {
    display: flex;
    flex-direction: column;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    width: 80%;
    min-height: 70vh;
    display: flex;
    justify-content: start;
    align-items: start;
}

.shop-about-wrapper .shop-about .banner-wrapper {
    width: 100%;
    height: 30vh;
    display: inline;
    justify-content: start;
    align-items: start;
}

.shop-about-wrapper .shop-about .banner {
    width: 100%;
    height: 30vh;
    border-radius: 39px 39px 0px 0px;
}

.shop-about-wrapper .shop-about .name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3vh;
}

.shop-about-wrapper .shop-about .info-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 2vh;
}

.shop-about-wrapper .shop-about .info-buttons-wrapper .info-button {
    border-radius: 50px;
    background: #FA7B4A;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-about-wrapper .shop-about .popular-products-wrapper .popular-products {
    display: inline-block;
    justify-content: start;
    align-items: start;
    margin-top: 3vh;
    margin-left: 8vh;
    max-width: 100%;
    width: 100%;
    margin-bottom: 2vh;
}

.shop-about-wrapper .shop-about .popular-products-wrapper .title {
    text-align: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2vh;
}