.buy-product-card {
    display: flex;
    flex-direction: row;
    margin-left: 3vh;
    margin-top: 3vh;
    margin-right: 3vh;
    border-radius: 22px;
    background: #D9D9D9;    
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buy-product-card:hover {
    border: 1px solid;
}

.buy-product-card .image-wrapper {
    width: 35vh;
    height: 10vh;
    border-right: 1px solid;
}

.buy-product-card .image-wrapper .image {
    width: 100%;
    height: 100%;
    border-radius: 22px 0px 0px 22px;
}

.buy-product-card .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vh;
}