.nofication-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin-left: 30%;
    margin-top: 1vh;
}

.nofication-wrapper .nofication {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: orange;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    min-width: 300px;
    animation: slide-in 3s linear 1;
}

.nofication-wrapper .nofication:before {
    animation: delay-out 1s linear 1;
}

.nofication-wrapper .nofication .content {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
    
}

@keyframes delay-out {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }