.verify-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-wrapper .verify {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    width: 50%;
    height: 35vh;
    margin-top: 3vh;
}

.verify-wrapper .verify .send-mail-wrapper .info {
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.verify-wrapper .verify .send-mail-wrapper .send-mail {
    text-align: center;
    background-color: orange;
    padding: 2vh;
    border: 3px solid rgba(255, 255, 255, 0.48);
    border-radius: 39px;
    margin-top: 3vh;
}

.verify-wrapper .verify .send-mail-wrapper .send-mail:hover {
    border: 8px solid rgba(255, 255, 255, 0.48);
}