.feedback {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #74BFA9;
    margin: 2vh;
    padding: 2vh;
}

.feedback:hover {
    border-color: black;
}

.feedback .feedback-score {
    width: 82px;
    height: 82px;
}

.feedback .feedback-message {
    display: flex;
    align-items: center;
    margin-left: 1vh;
    color: #FFF;
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}