.paynament-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    min-height: 60vh;
}

.paynament-wrapper .paynament-form {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh;
    border-radius: 27px;
    width: 30%;
    height: 100%;
}

.paynament-wrapper .paynament-form .field {
    margin-top: 3vh;
    background: black;
    padding: 2vh;
    color: white;
    border-radius: 27px;
}