.seller-messenger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    margin-bottom: 3vh;
    max-height: 60vh;
}

.seller-messenger-wrapper .seller-messenger {
    border-radius: 57px;
    background: #252A34;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 60vh;
}

.seller-messenger-wrapper .seller-messenger .messages-list-wrapper {
    max-height: 80vh;
    border-right: 1px solid;
    width: 25%;
    overflow: scroll;
    overflow-x: hidden;
}

.seller-messenger-wrapper .seller-messenger .messages-list-wrapper .messages-list {
    max-height: 70vh;
}

.seller-messenger-wrapper .seller-messenger .messages-list-wrapper::-webkit-scrollbar { width: 0 !important }
.seller-messenger-wrapper .seller-messenger .messages-list-wrapper .messages-list .message-in-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2vh;
    margin-left: 2vh;
 
}

.seller-messenger-wrapper .seller-messenger .messages-list .message-in-list:hover {
    border-bottom: 1px solid;
}

.seller-messenger-wrapper .seller-messenger .messages-list .message-in-list .avatar-wrapper {
    width: 100px;
    height: 100px;
}

.seller-messenger-wrapper .seller-messenger .messages-list .message-in-list .avatar-wrapper .avatar {
    width: 100px;
    height: 100px;
    border-radius: 350px;
}

.seller-messenger-wrapper .seller-messenger .messages-list .message-in-list .message-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    margin-left: 1vh;
    color: #D9D9D9;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.seller-messenger-wrapper .seller-messenger .messages-list .message-in-list .message-info .last-message {
    margin-top: 1vh;
    margin-left: 2vh;
    font-size: 22px;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .messages {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 40vh;
    max-height: 40vh;
}

.seller-messenger-wrapper .seller-messenger .chat .send-message-wrapper {
    margin-left: 5vh;
    border-radius: 20px;
    border: none;
    width: 80%;
    background: #D9D9D9;
    margin-top: 0.5vh;
}

.seller-messenger-wrapper .seller-messenger .chat .send-message-wrapper .send-message {
    width: 100%;
    background: #D9D9D9;
    border-radius: 20px;
    padding: 2vh;
    width: 125vh;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .messages::-webkit-scrollbar { width: 0 !important } 

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .shop {
    display: flex;
    justify-content: right;
    align-items: end;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .user {
    display: flex;
    justify-content: left;
    align-items: end;
}

.seller-messenger-wrapper .seller-messenger .product-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    margin-top: 1vh;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .product-info-wrapper .product-info {
    border-radius: 57px;
    background: #D9D9D9;
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .product-info-wrapper .product-info .image-wrapper {
    justify-content: start;
    align-items: center;
    margin-left: 3vh;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .product-info-wrapper .product-info .image-wrapper .image {
    width: 160px;
    height: 80px;
    padding: 3vh;
}

.seller-messenger-wrapper .seller-messenger .chat-wrapper .chat .product-info-wrapper .product-info .name {
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}