.seller-profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-profile-wrapper .seller-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    width: 98%;
    min-height: 75vh;
    margin-top: 3vh;
}

.seller-profile-wrapper .seller-profile .nav-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-right: 8vh;
    max-height: 8vh;
    
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav {
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 3vh;
    background: #252A34;
    width: 100%;
    border: solid 1px;
    border-radius: 27px;
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav .item {
    width: 15%;
    margin-left: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px;
    border-color: white;
    height: 8vh;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav .end {
    padding-left: 8vh;
    padding-right: 11vh;
    border: none;
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav .item:hover {
    background: #D74848;
    border: 1px solid #000;
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav .end:hover {
    background: #D74848;
    border: 1px solid #000;
    border-radius: 0px 27px 27px 0px;
}

.seller-profile-wrapper .seller-profile .nav-wrapper .nav .start:hover {
    background: #D74848;
    border: 1px solid #000;
    border-radius: 27px 0px 0px 27px;
}