.create-shop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.create-shop-wrapper .create-shop-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 27px;
    width: 50%;
    height: 70vh;
    color: white;
    font-size: 60px;
    padding: 2vh;
}

.create-shop-wrapper .create-shop-form .field {
    margin-top: 5vh;
    background: white;
    border-radius: 27px;
    padding: 3vh;
    width: 70%;
    max-height: 20vh;
}

.create-shop-wrapper .create-shop-form::-webkit-scrollbar { width: 0 !important } 

.create-shop-wrapper .create-shop-form .banner-title {
    font-size: 20px;
    max-height: 10vh;
}

.create-shop-wrapper .create-shop-form .button:hover {
    border: 1px solid;
    border-color: orange;
    color: green;
}