.message-wrapper .message {
    background-color: white;
    max-width: 470px;
    min-height: 2vh;
    margin-left: 1vh;
    margin-top: 2vh;
    border-radius: 49px;
    padding: 2vh;
    margin-right: 2vh;
    word-wrap: break-word;
}