.shop {
    display: flex;
    justify-content: left;
    align-items: start;
}

.user {
    display: flex;
    justify-content: right;
    align-items: start;
}

.message-wrapper .message {
    background: black;
    padding: 2vh;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    word-wrap: break-word;
}