.header-wrapper .nav {
    display: inline-block;
    margin: 0px 0px;
}

.header-wrapper .nav:hover {
    color: #FA7B4A;
}

.header-wrapper .logo:hover {
    color: #FA7B4A;
}

.header-wrapper .search-button {
    display: flex;
    padding-right: 10px;
    width: 47px;
    height: 47px;

}

.header-wrapper .head {
    display: flex;
    justify-content: center; 
    align-items: center;  
    top: 0px;
}
.header-wrapper .head .search-wrapper {
    position: relative;
    display: flex;
    justify-content: right; 
    align-items: center;
    width: 960px;
    height: 74px;
    top: 3vh;
    background: #5DAB94;
    border: 2px solid rgba(255, 255, 255, 0.23);
    border-radius: 61px;
}

.header-wrapper .head .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 960px;
    height: 74px;
    background: #5DAB94;
    border: 2px ;
    border-right: none;
    border-radius: 61px 0px 0px 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.header-wrapper .head .login {
    position: absolute;
    display: flex;
    justify-content: right; 
    align-items: start;
    margin-left: 1050px;
    margin-top: 50px;
    width: 59px;
    height: 59px;
}

.header-wrapper .head .makeSeller {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center; 
    width: 266px;
    height: 74px;
    margin-left: 1400px;
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    background: #5DAB94;
    text-align: center;
    padding-top: 20px;
    border: 2px solid rgba(255, 255, 255, 0.23);
    border-radius: 61px;
}


.header-wrapper .head .makeSeller:hover {
    border-color: #FA7B4A;
    color: #FA7B4A;
}

.header-wrapper .logo {
    position: absolute;
    width: 388px;
    height: 55px;
    left: 72px;
    top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
}

.header-wrapper .nav-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);

}

a {
    text-decoration: none;
}

.header-wrapper .nav-wrapper {
    margin-top: 5vh;
}

.header-wrapper .nav-wrapper .nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px;
    max-width: 1500px;
}

.header-wrapper .nav-wrapper .active {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #FA7B4A;
    border-radius: 62px;
    padding-left: 10px;
    padding-right: 10px;

}
