.rec-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rec-wrapper .rec-card-wrapper {
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
}

.rec-wrapper .rec-title {
    color: #FFF;
    font-size: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}