.card-wrapper {
    display: inline-block;
    flex-direction: column;
    width: 400px;
    height: 239px;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    margin-left: 3vh;
    margin-top: 3vh;
}

.card-wrapper .card-info {
    display: flex;
    flex-direction: row;
}

.card-wrapper .buy-button {
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 30px;
    margin-top: 0.2vh;
    border-radius: 0px 0px 39px 39px;
    background: #FA7B4A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-wrapper .buy-button:hover {
    color: black;
}

.card-wrapper .card-info .image {
    width: 200px;
    height: 193px;
    border-radius: 39px;
    border-radius: 39px 0px 0px 0px;
}

.card-wrapper .card-info .card-text-info {
    display: flex;
    flex-direction: column;
}

.card-wrapper .card-info .card-text-info .cost {
    width: 190px;
    min-height: 60px;
    display: flex;
    justify-content: right;
    align-items: right;
    max-height: 30px;
    color: #FFF;
    font-size: 26px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-wrapper .card-info .card-text-info .name {
    display: flex;
    max-width: 190px;
    margin-left: 1vh;
    color: #FFF;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 120px;

}