.add-product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-wrapper .add-product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 27px;
    padding: 3vh;
    width: 80%;
    margin-top: 5vh;
    height: 60vh;
    margin-bottom: 3vh;
    color: white;
}

.add-product-wrapper .add-product-form .field {
    background: white;
    border-radius: 27px;
    padding: 3vh;
    width: 70vh;
    margin-top: 2vh;
}

.add-product-wrapper .add-product-form .button {
    background-color: white;
    padding: 1vh;
    margin-top: 2vh;
    width: 60%;
    border-radius: 27px;
}

.add-product-wrapper .add-product-form .button:hover {
    background: gray;
}

.add-product-wrapper .add-product-form .field::-webkit-scrollbar { width: 0 !important } 

.add-product-wrapper .add-product-form .category-select::-webkit-scrollbar { width: 0 !important } 

.add-product-wrapper .add-product-form .category-select {
    padding: 3vh;
}

.add-product-wrapper .add-product-form .category-select .select-option {
    background-color: gray;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}