.paynament {
    color: black;
    background-color: white;
    padding: 2vh;
    border-radius: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2vh;
}

.paynament .field {
    margin-left: 10vh;
}