.authForm .input {
    width: 481px;
    height: 67px;
    border-radius: 5px;
    background: #D9D9D9;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    color: #999;
    font-size: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authForm .title {
    display: flex;
    width: 171px;
    height: 71px;
    flex-direction: column;
    color: #FFF;
    font-size: 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authForm .error-message {
    color: #FFF;
    margin-top: 20px;
    font-size: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authForm-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130vh;
    height: 70vh;
    border-radius: 39px;
    border: 3px solid rgba(255, 255, 255, 0.48);
    background: #5DAB94;
    
}

.authForm .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.authForm .login-button {
    border-radius: 65px;
    background: #FA7B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 50px;
    flex-direction: column;
    color: #FFF;
    margin-top: 20px;
    font-size: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authForm .login-button:hover {
    border-color: #FFF;
}

.authForm .reg-button {
    border-color: #FFF;
    border-color: #000000;
    border-radius: 65px;
    background: #FA7B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 50px;
    flex-direction: column;
    color: #FFF;
    margin-top: 20px;
    font-size: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authForm .reg-button:hover {
    color: #000000;
}